/.vs
/CasinoBE/CasinoBE/bin/
/CasinoBE/CasinoBE/obj/
/CasinoBE/Infrastructure/bin/
/CasinoBE/Infrastructure/obj/
/CasinoBE/LogicLayer/bin/
/CasinoBE/LogicLayer/obj/
/CasinoBE/Models/bin/
/CasinoBE/Models/obj/
