@model Models.DataModels.Player
@{
    ViewData["Title"] = "29";
}

<div id="HomeContainer" class="text-center">
    <div id="Profile">
        <h3>@Model.FirstName @Model.LastName</h3>
    </div>
</div>
